/* Boilerplate CSS */
@font-face{
    font-family: "netflix";
    src: url("./assets/netflix.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: #fff;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  padding: 20px;
 
}

.box1,
.box2,
.box3,.box4 {
  height: 100px;
    width: 100px;
    margin-bottom: 20px;
}
.box1 {
  background-color: #4e3fa0;
}
.box2 {
  background-color: #ab25a0;
}
.box3 {
  background-color: #b6454a;
}
.box4 {
  background-color: #b4d23d;
}