/* Boilerplate CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
}
#root{
    padding: 20px;
}
.page{
    height: 100vh;
    width: 100%;
}
.box{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
}
.page2{
    background-color: rgb(78, 66, 66);
}